@font-face {
  font-family: "SourceHanSans";
  src: url("./fonts/SourceHanSansSC-ExtraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("./fonts/SourceHanSansSC-Light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("./fonts/SourceHanSansSC-Normal.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("./fonts/SourceHanSansSC-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("./fonts/SourceHanSansSC-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("./fonts/SourceHanSansSC-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SourceHanSans";
  src: url("./fonts/SourceHanSansSC-Heavy.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
